@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Montserrat, Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}


html {
  font-family: Fira Sans, sans-serif;
  font-weight: 300
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0
}

html,
body {
  margin: 0;
  padding: 0
}


/* headings and logo */

#logo {
  float: left;
  font-size: 200%;
  margin-left: 30px;


}

.nav-logo-img {
  height: 4rem;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.h1-logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  position: absolute;
}

/* navigation links */

#menu {
  font-size: 100%;
  letter-spacing: 2px;
}

#menu,
#logo {
  line-height: 30px;
}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu a:hover {
  background: #a07b8f;
  transition: .5s;

}


.active {
  border-bottom: 1px solid #3a3a3a;
}

.navbar {
  /* overflow: auto; */
  background-color: rgb(223, 206, 223);
  /*rgb(173, 177, 222); */
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  /* Full width */
  z-index: 9999;

}

/* Links inside the navbar */
/* .navbar a { */
/* float: right; */
/*display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */
nav ul li a {
  color: rgb(6, 6, 6);
  font-size: 17px;
  /* padding: 7px 8px; */
  padding: 14px 16px;
  border-radius: 2px;

}


.logo-iccs {
  float: left;
}

/* Change background on mouse-over */
.navbar nav a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
  /* Used in this example to enable scrolling */

}



/*Header message*/

/* hero image and cover text */

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

#cover-text,
#cover-text h2 {
  color: #fff;
}


.vertical-center {
  position: relative;
  top: 15%;
  font-size: x-large;
  float: right;
  right: 6%;
}

#home {
  background-image: url('./images/dubai-mosque-banner.jpg');
  /* url('https://i.ibb.co/jLFf1mz/4275985388-3e9ef4954e-o.jpg'); */
  background-size: cover;
  max-height: 50%;

}
#about-home {
  background-image: url('./images/diyanet-mosque-lanham-maryland-usa.jpeg');
  background-size: cover;
  max-height: 100%;

}

#services-home {
  background-image: url('./images/large_blue-mosque.jpg');
  background-size: cover;
  max-height: 100%;
}

/* Audio button color*/
audio::-webkit-media-controls-panel {
  background-color: #bf94b8;
}


.page-header {
  height: 50vh;
  background: center 100% / cover no-repeat;

}

/*Section 1*/

.section-height {
  min-height: 200px;
}

#visit-iccs {
  background-color: #455986;
  position: relative;
  top: -15px;
  float: left;
  left: 20px;

}

#our-services {
  background-color: rgb(234, 166, 117);
  position: relative;
  top: -15px;
  z-index: 1;
  float: left;
  left: 80px;

}

#al-quran {
  background-color: green;
  position: relative;
  top: -15px;
  z-index: 1;
  float: left;
  left: 200px;
}

#news-board {
  background-color: rgb(24, 63, 183);
  position: relative;
  top: -15px;
  z-index: 1;
  float: left;
  left: 300px;

}

/*
#image-container{
  background-image:url('https://i.ibb.co/prCqNr9/logo-ar.png') no-repeat;
  width: 100px;
  height: 200px;
  border: 1px solid;
  background-size: contain;
} */

#about-islam {
  background-color: rgb(247, 157, 157);
  position: relative;
  top: -15px;
  float: right;
  right: 20px;
  /* needed to be checked */
}

.section1-box {
  width: 15%;
  margin: 1rem 0;
  display: inline-block;
  padding: 80px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 16px;

}

.section1-box:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}


.two-thirds-width-column {
  width: 66.66%;
  display: inline-block;
}

.spacer {
  clear: both;
}

section p {
  text-align: justify;
}

.kaabasharif {
  position: relative;
  right: 80px;
}

/* Section 2*/
.text-center {
  text-align: center;
}

.one-third-width-column {
  width: 30%;
  display: inline-block;
}

.box1-position {
  position: relative;
  left: 50px;

}

.box3-position {
  position: relative;
  right: 50px;

}

.text-white {
  color: #FFFFFF;
}

.text-black {
  color: black;
}

.float-left {
  float: left;
}

.float-right {
  float: right;

}

.float-none {
  float: none;
}


.section2-box {
  padding: 10px 5px 25px 5px;
  border-radius: 8px;
  width: 100%;
  margin: 2%;
  background-color: chocolate;
  position: relative;
  left: 0%;
  top: 30px;
  border: 2px solid black;

}

.clock {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

#current_date {
  font-size: 25px;
  font-weight: normal;
}

.text-uppercase {
  text-transform: uppercase;
}

/*map*/

#map {
  height: 100%;
  width: 100%;
  border: none;
}

/*Footer*/
footer {
  background-color: #5d5f5e;
  padding: 10px;
  overflow: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-span {
  color: silver;
  bottom: 0;
}


footer>span>a {
  color: beige;
  text-decoration: none;
  padding: 0 15px;
  font-size: 0.8rem;
}


.center {
  text-align-last: center;



}

.copyright {
  text-align: center;
  color: aqua;
  font-size: small;

}

/* Contact/ Form*/
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 4px;
  margin-bottom: 4px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 25px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.about-container {
  font-size: medium;
  text-align: center;
  padding-top: 1rem;
}
.submission-container {
  font-size: medium;
  text-align: center;
  padding-top: 20rem;
}

.form-submission {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.main-submission {
  flex-grow: 1;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#amount {
  border: 1px solid #ccc;
  width: 100%;
  padding: 12px;
}